<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'actors', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <title>Actor</title>
  </head>
  <body>
    <div class="actors-container">
      <div class="header">
        <a href="/home">
          <img
            src="https://res.cloudinary.com/dsiyffj0o/image/upload/v1688446827/IMDb_Internet_Movie_Database_xur1ka.png"
            alt="logo"
            class="home-logo"
        /></a>
        <% if @current %>
          <div class="login-page-container">
           <button class="login-a" id="logout">Logout</button>
          </div>
        <% else %>
          <div class="login-page-container">
            <button class="login-a" id="login">Login</button>
          </div>
        <% end %>
      </div>
      <div class="actors-data">
        <div class="profile-image">
          <img id="profile-photo" src=<%= @actor.photo%> alt="Profile Photo" />
          <div class="nameData">
            <h1 id="profile-name"><%= @actor.name%></h1>
            <h3 class="acted-head">Movies Acted:</h3>
            <ul id="acted-movies-list"></ul>
          </div>
        </div>
        <div class="profile-info">
          <h3 class="">Bio:</h3>
          <p id="profile-bio"><%= @actor.description%></p>
        </div>
      </div>
    </div>
     <%= javascript_include_tag 'actors', 'data-turbolinks-track'=> 'reload' %>
  </body>
</html>
