<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'movies', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <title>Document</title>
  </head>
  <body>
    <div class="movies-page">
      <div class="header">
        <a href="/home">
          <img
            src="https://res.cloudinary.com/dsiyffj0o/image/upload/v1688446827/IMDb_Internet_Movie_Database_xur1ka.png"
            alt="logo"
            class="home-logo"
        /></a>
       <% if @current %>
          <div class="login-page-container">
           <button class="login-a" id="logout">Logout</button>
          </div>
        <% else %>
          <div class="login-page-container">
            <button class="login-a" id="login">Login</button>
          </div>
        <% end %>
      </div>
      <div  class="movie-data-container" id= "movieData">
        <div class="movie-data">
           <h1 class="movie-title"><%= @movie.title%></h1>
     <%= image_tag @movie.poster, class: "movie-image" %>
    <div class="details-container">
      <div class="genre">
        <h4 class="details-head">Genre:</h4>
        <p class="description"><%= @movie.genre%></p>
      </div>
      <div class="duration-year">
        <h4 class="details-head">Release Year:</h4>
        <p class="description"><%= @movie.releasedate%></p>
        <h4 class="details-head">Duration:</h4>
        <p class="description"><%= @movie.duration%></p>
      </div>
    </div>
    <div class="director-actors">
      <h4 class="details-head">
        Director: <span class="description"><%= @movie.director%></span>
      </h4>
      <h4 class="details-head">
        Actors:
        <span class="description"><%= @movie.castcrew%></span>
      </h4>
    </div>
      <div class="summary">
        <h4 class="details-head">Summary:</h4>
        <p class="summary-desc"><%= @movie.description%></p>
      </div>
        </div>
      </div>
      <div class="actors-container">
          <h4 class="details-head">Cast:</h4>
          <div class="actots-image-container">
            <% @actor.each do |actor| %>
              <a class="actor" href="/actors/<%= actor.id %>">
                <img src="<%= actor.photo %>" alt="actor-image" class="actor-image" />
                <p class="actor-name"><%= actor.name %></p>
              </a>
            <% end %>
          </div>
        <div class="review-data">
          <h4 class="details-head">User Reviews:</h4>
          <% @review.each do |review| %>
            <div class="cont">
              <p class="rating">Rating: <%= review.rating%> </p>
              <p class="rating">Review: <%= review.review_text%></p>
            </div>
          <% end %>
        </div>
         <% if @current %>
          <div class="review-container">
            <form method="post" id="addActor">
              <label class="label">Rating:</label><br />
              <input class="input" type="number" placeholder="Rating" id="rating"><br />
              <p id="error"></p>
              <label class="label">Review Text:</label><br />
              <input class="input" type="text" name="review_text" placeholder="Review Text" id="review"><br/>
            </form>
             <p id="errorMsg"></p>
            <button type="button" id="submitBtn" class="submitBtn">Submit</button>
          </div>
          <%end%>
      </div>
    </div>
    <%= javascript_include_tag 'movies', 'data-turbolinks-track'=> 'reload'%>
  </body>
</html>
